<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Factures</title>
    
    <style type="text/css">
    	span {
    		padding: 20px;
    	}
    </style>

</head>
<body>
    <h3>Gestion des factures</h3>
    <h4>Détails d'une facture</h4>

    <table>
    	<tr>
    		<td>Number</td>
    		<td><span th:text="${invoice.number}"></span></td>
    	</tr> 
    	<tr>
    		<td>Customer Name</td>
    		<td><span th:text="${invoice.customerName}"></span></td>
    	</tr>    
    	<tr>
    		<td>Order Number</td>
    		<td><span th:text="${invoice.orderNumber}"></span></td>
    	</tr>       
    </table>
    
</body>
</html>